<template>
  <form>
    <div class="form-group form-check form-check-inline">
      <select class="form-control" id="product_id" v-model="formObj.product_id">
        <option selected disabled value="">Select Product</option>
        <option
          v-for="product in getProductList"
          :value="product.product_id"
          :key="product.product_id"
        >
          {{ product.product_name }}
        </option>
      </select>
    </div>
    <div class="form-group form-check form-check-inline">
      <!-- <label for="qty">數量</label> -->
      <input
        type="number"
        min="0"
        class="form-control"
        id="qty"
        placeholder="數量"
        required
        v-model="formObj.qty"
      />
    </div>
    <div class="form-group form-check form-check-inline">
      <input
        type="number"
        class="form-control"
        id="customer_id"
        placeholder="Customer ID"
        required
        v-model="formObj.customer_id"
      />
    </div>
    <button
      type="submit"
      class="form-group form-check form-check-inline btn btn-primary"
      v-on:click="submitOrder($event)"
    >
      Submit
    </button>
    <div class="form-group form-check form-check-inline alert-msg">
      {{ getAlertMsg }}
    </div>
  </form>
</template>

<script>
import { apiOrderCreate } from "../api.js";
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  data() {
    return {
      formObj: {
        product_id: "Select Product",
        qty: 0,
        customer_id: null,
      },
    };
  },
  mounted() {
    this.getProductList;
  },
  computed: {
    ...mapState(["productList", "alertMsg"]),
    getProductList(state) {
      return state.productList;
    },
    getAlertMsg(state) {
      return state.alertMsg;
    },
  },
  methods: {
    ...mapActions(["getProductData", "getOrderData", "getTop3Data"]),
    ...mapMutations(["setAlertMsg"]),
    async submitOrder(event) {
      event.preventDefault();
      this.formObj.qty = parseInt(this.formObj.qty, 10);
      this.formObj.customer_id = parseInt(this.formObj.customer_id, 10);
      // let formData = JSON.stringify(this.formObj);
      // console.log(this.formObj);
      try {
        await apiOrderCreate(this.formObj)
          .then((response) => {
            this.setAlertMsg(response.data.msg);
          })
          .then(() => {
            this.getProductData();
          })
          .then(() => {
            this.getOrderData();
          })
          .then(() => {
            this.getTop3Data();
          });
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style>
.alert-msg {
  font-size: x-large;
  color: crimson;
  font-family: monospace;
  font-weight: bold;
}
</style>