<template>
  <b-table
    :data="isEmpty ? [] : getOrderList"
    :bordered="isBordered"
    :striped="isStriped"
    :hoverable="isHoverable"
    :loading="isLoading"
    default-sort="order_id"
    default-sort-direction="asc"
    per-page="7"
    paginated="true"
  >
    <b-table-column
      field="order_id"
      label="Order_ID"
      width="40"
      centered
      numeric
      sortable
      v-slot="props"
    >
      {{ props.row.order_id }}
    </b-table-column>

    <b-table-column
      field="product_id"
      label="product_id"
      centered
      v-slot="props"
    >
      {{ props.row.product_id }}
    </b-table-column>

    <b-table-column
      field="product_name"
      label="product_name"
      centered
      v-slot="props"
    >
      {{ props.row.product_name }}
    </b-table-column>

    <b-table-column field="qty" label="qty" centered v-slot="props">
      {{ props.row.qty }}
    </b-table-column>

    <b-table-column field="price" label="price" centered v-slot="props">
      <!-- <span class="tag is-success"> -->
      {{ props.row.price }}
      <!-- </span> -->
    </b-table-column>

    <b-table-column field="shop_id" label="shop_id" centered v-slot="props">
      {{ props.row.shop_id }}
    </b-table-column>
    <b-table-column
      field="customer_id"
      label="customer_id"
      centered
      v-slot="props"
    >
      {{ props.row.customer_id }}
    </b-table-column>

    <b-table-column centered v-slot="props">
      <b-button label="取消" @click="deleteOrder(props.row.order_id)" />
    </b-table-column>
  </b-table>
</template>

<script>
import { apiOrderDelete } from "../api.js";
import { mapState, mapActions, mapMutations } from "vuex";

export default {
  data() {
    return {
      selected: null,
      isBordered: true,
      isStriped: true,
      isHoverable: true,
      isLoading: false,
    };
  },
  mounted() {
    this.getOrderData();
  },
  computed: {
    ...mapState(["orderList"]),
    getOrderList(state) {
      return state.orderList;
    },
  },
  methods: {
    ...mapActions(["getOrderData", "getProductData", "getTop3Data"]),
    ...mapMutations(["setAlertMsg"]),
    async deleteOrder(order_id) {
      try {
        // console.log(order_id);
        await apiOrderDelete(order_id)
          .then(() => {
            this.getOrderData();
          })
          .then(() => {
            this.getProductData();
          })
          .then(() => {
            this.getTop3Data();
          })
          .then(() => {
            this.setAlertMsg("刪除成功");
          });
      } catch (err) {
        // console.log(err);
        this.setAlertMsg("刪除失敗");
      }
    },
  },
};
</script>