<template>
  <b-table
    :data="isEmpty ? [] : getProductList"
    :bordered="isBordered"
    :striped="isStriped"
    :hoverable="isHoverable"
    :loading="isLoading"
    default-sort="product_id"
    default-sort-direction="asc"
    per-page="7"
  >
    <b-table-column
      field="product_id"
      label="Product_ID"
      width="40"
      centered
      numeric
      sortable
      v-slot="props"
    >
      {{ props.row.product_id }}
    </b-table-column>

    <b-table-column
      field="product_name"
      label="product_name"
      centered
      v-slot="props"
    >
      {{ props.row.product_name }}
    </b-table-column>

    <b-table-column field="stock_pcs" label="stock_pcs" centered v-slot="props">
      {{ props.row.stock_pcs }}
    </b-table-column>

    <b-table-column field="price" label="price" centered v-slot="props">
      {{ props.row.price }}
    </b-table-column>

    <b-table-column field="shop_id" label="shop_id" centered v-slot="props">
      <!-- <span class="tag is-success"> -->
      {{ props.row.shop_id }}
      <!-- </span> -->
    </b-table-column>

    <b-table-column
      label="vip"
      :td-attrs="columnTdAttrs"
      centered
      v-slot="props"
    >
      <span>
        <b-icon :icon="props.row.vip === true ? 'check-bold' : 'close-thick'">
        </b-icon>
      </span>
    </b-table-column>
  </b-table>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      isBordered: true,
      isStriped: true,
      isHoverable: true,
      isLoading: false,
    };
  },
  mounted() {
    this.getProductData();
  },
  computed: {
    ...mapState(["productList"]),
    getProductList(state) {
      return state.productList;
    },
  },
  methods: {
    ...mapActions(["getProductData"]),
  },
};
</script>