<template>
  <div id="top3">
    <button v-on:click="getTop3Data()">TOP3</button>
    <div class="top3-table" style="display: none">
      <b-table
        :data="isEmpty ? [] : getTop3"
        :bordered="isBordered"
        :striped="isStriped"
        :hoverable="isHoverable"
        :loading="isLoading"
      >
        <b-table-column
          field="Product_ID"
          label="Product_ID"
          width="40"
          centered
          numeric
          v-slot="props"
        >
          {{ props.row.product_id }}
        </b-table-column>

        <b-table-column
          field="product_name"
          label="product_name"
          centered
          v-slot="props"
        >
          {{ props.row.product_name }}
        </b-table-column>

        <b-table-column
          field="stock_pcs"
          label="stock_pcs"
          centered
          v-slot="props"
        >
          {{ props.row.stock_pcs }}
        </b-table-column>

        <b-table-column
          field="total_sales"
          label="total_sales"
          centered
          v-slot="props"
        >
          {{ props.row.total_sales }}
        </b-table-column>

        <b-table-column field="price" label="price" centered v-slot="props">
          {{ props.row.price }}
        </b-table-column>

        <b-table-column field="shop_id" label="shop_id" centered v-slot="props">
          <!-- <span class="tag is-success"> -->
          {{ props.row.shop_id }}
          <!-- </span> -->
        </b-table-column>

        <b-table-column
          label="vip"
          :td-attrs="columnTdAttrs"
          centered
          v-slot="props"
        >
          <span>
            <b-icon :icon="props.row.vip === 1 ? 'check-bold' : 'close-thick'">
            </b-icon>
          </span>
        </b-table-column>
      </b-table>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      isBordered: true,
      isStriped: true,
      isHoverable: true,
      isLoading: false,
    };
  },
  computed: {
    ...mapState(["top3"]),
    getTop3(state) {
      return state.top3;
    },
  },
  methods: {
    ...mapActions(["getTop3Data"]),
  },
};
</script>