{% extends "base-vue.html" %}

{% block html_tag_attributes %}lang="en"{% endblock %}

{% block content %}
<noscript>
    <strong>Please enable JavaScript to continue.</strong>
</noscript>

<div id="app"></div>
{% endblock %}