<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <div>新增訂單</div>
    <createOrder />
    <div>商品列表</div>
    <product />
    <div>訂單紀錄</div>
    <order />
    <top3 />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import product from "./components/product.vue";
import order from "./components/order.vue";
import top3 from "./components/top3.vue";
import createOrder from "./components/createOrder";

export default {
  name: "App",
  components: {
    product,
    order,
    top3,
    createOrder,
    // HelloWorld
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
